<h1>Create a New Artist</h1>

<%= form_for(@artist) do |f| %>

  <p>
    <%= f.label :fname, "First name" %><br>
    <%= f.text_field :fname %>
  </p>
  <p>
    <%= f.label :lname, "Last name" %><br>
    <%= f.text_field :lname %>
  </p>
  <p>
    <%= "Gender" %><br>
    <%= f.label :gender_male, "Male"%>
    <%= f.radio_button :gender, :male %>
    <%= f.label :gender_female, "Female"%>
    <%= f.radio_button :gender, :female, :checked => true %>
  </p>
  <p>
    <%= f.label :age, "Age" %><br>
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :instrument, "Instrument" %><br>
    <%= f.text_field :instrument %>
  </p>
    <%= f.fields_for :bands do |b| %>
    <p>
      <%= b.label :name, "Band name" %>
      <%= b.text_field :name %>
    </p>
    <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>