<h1>Create a New Recording/Album</h1>

<%= form_for(@recording) do |f| %>

  <p>
    <%= f.label :album_name, "Album name:" %><br />
    <%= f.text_field :album_name %>
  </p>
    <% fields_for @band do |b| %>
    <p>
      <%= b.label :name, "Name" %>
      <%= b.text_field :name %>
    </p>
    <% end %>
  <p>
  <p>
    <%= f.submit %>
  </p>
<% end %>