<h1><%= "#{@recording.name}" %></h1>

<ul>
  <p><%= "Album name: #{@recording.album_name}" %></p>
  <p><%= "Band: #{@recording.band}" %></p>
</ul>


<!-- REV: you mean, @recording here? -->
<%= link_to "<< Back to #{recording.band}", bands_path %>

<p>Band:</p>
<p><%= link_to "#{recording.band.name}", band_url(band) %></p>
<br>