<h1>Create a New Band</h1>

<%= form_for(@band) do |f| %>

  <p>
    <%= f.label :name, "Band name:" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :genre, "Genre:" %><br />
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.label :date_formed, "Date formed:" %><br />
    <%= date_select("band", "date_formed") %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>